body {
  text-align: center;
  background-color: #011F3F;
}

#level-title {
  font-family: 'Roboto', sans-serif;
  font-size: 3rem;
  margin:  5%;
  color: #FEF2BF;
}

.container {
  display: block; 
  width: 100%;
  margin: auto;

}

.btn {
  margin: 20px;
  display: inline-block;
  height: 200px;
  width: 200px;
  border: 10px solid black;
  border-radius: 20%;
}
.container{
  size: 50%;
}
.game-over {
  background-color: red;
  opacity: 0.8;
}

.red {
  background-color: red;
}

.green {
  background-color: green;
}

.blue {
  background-color: blue;
}

.yellow {
  background-color: yellow;
}
.start{
  margin: 20px;
  height: 2rem;
  width: 8rem;
  border: 0px solid #dd12e48c;
  background-color: greenyellow;
  -moz-border-radius: 10;
  border-radius: 8px;
  font-size: 18px;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  /* border-radius: 10%; */
  margin:auto;
}
.start:hover{
  background: blueviolet;
  text-decoration-color: Blue;
}

.pressed {
  box-shadow: 0 0 20px white;
  background-color: grey;
}
footer {
  margin-top: 5%;
  color: #EEEEEE;
  text-align: center;
  font-family: 'Indie Flower', cursive;

}
@media (max-width:991px) {
  .container{
      margin-top: 20%;
      margin-bottom:20%;
    
  }
 .btn{
  height: 20rem;
  width: 20rem;
  }
  
  
}
